@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@font-face { font-family: 'Brandon Grotesque Light';
    src: url('../assets/font/BrandonGrotesque-Light.ttf') format('truetype'); }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    background: #B9CECF;
    font-family: 'Merriweather', serif;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;


    font-family: "Brandon Grotesque Light", "Segoe Print", sans-serif;
    color: #ffffff;
    font-size: 4vmin;

    margin: 0px 0px 20px 0px;
    text-align: left;
    padding: 1rem;
    background: #74A5AE;
    width: 100%;
    height: auto;

}
header img{
    width: 10vw;
    height: auto;

    max-width: 150px;
}
.headerText{
    padding-left: 7px;
}

header p{
    font-weight: bold;
}
h1{

}
h5{
    padding-top: 10px;
}
/*
*******************************
  FlashCard: Image
*******************************
*/
#flashCard{
    display: flex;
    flex-flow: column;
    height: 70vh;
    max-width: 600px;
    text-align: center;
    background: #FFF8EE;
    border-radius: 1.5rem;
    box-shadow: -10px 0px 13px -7px rgba(0,0,0,0.18), 10px 0px 13px -7px rgba(0,0,0,0.18), 5px 5px 15px 5px rgba(0,0,0,0.18);
    margin: 10px;
}

.fc img{
    width: 100%;
    height: auto;
}

.fc_pose {
    width: 80%;
    background: aquamarine;
}

/*
*******************************
  Question/ Answer Styles
*******************************
*/

.question, .answer {
    padding: 8px 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question p, .answer p {
    margin: 0;
    padding-bottom: 15px;
}

.answer {
    flex: 1;
    background-color: #7e8b96;
    min-height: 70px;
}
.answer p{
    color: #2d1f1f;
}



#showAnswer{
    flex-grow : 1;

    width: 100%;
    background: #6fadde;
    border-radius: 0 0 1rem 1rem;
}


#hiddenAnswer{
    height: 100%;

    flex-flow: column;

}

.result{
    width: 40vw;
}

/*
*******************************
  Controls: Correct, Wrong Styles
*******************************
*/
.correct, .wrong {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.controls {
    color: white;
    font-size: 3em;
    cursor: pointer;
}

.controls div {
    height: 70px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}


.correct {
    border-bottom-left-radius: 1.5rem;
    background-color: #7dce90;
    float: left;
}

.wrong {
    border-bottom-right-radius: 1.5rem;
    background-color: #dc7a6b;
}

/*
*******************************
  Footer Styles
*******************************
*/
footer{
    background: #74A5AE;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    font-size: .8em;
    padding: 6px;

}

.stats {
    color: #ffffff;
    width: 100%;
}

.questions-count {
    display: inline-block;
}

.current-stats {
    float: right;
    margin-right: 20px;
}

#correctStat, #wrongStat{
    font-weight: bold;
    padding-left: 2px;
}


